<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.36">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.5.1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.5.1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>测试layaair2-cmd 发布web</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline {
   agent any

   stages {
      stage(&apos;发布web&apos;) {
         steps {
             bat label: &apos;&apos;, script: 
             &apos;&apos;&apos;
                echo &quot;PATH_LAYA_PROJECT_TEST:&quot;  %PATH_LAYA_PROJECT_TEST%
                layaair2-cmd publish -c web -w  %PATH_LAYA_PROJECT_TEST%
             &apos;&apos;&apos;
         }
      }
      
      
      stage(&apos;发布wxgame&apos;) {
         steps {
             bat label: &apos;&apos;, script: 
             &apos;&apos;&apos;
                echo &quot;PATH_LAYA_PROJECT_TEST:&quot;  %PATH_LAYA_PROJECT_TEST%
                layaair2-cmd publish -c wxgame -w  %PATH_LAYA_PROJECT_TEST%
             &apos;&apos;&apos;
         }
      }
      
   }
}
</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>